label {
  font-size: 30px;
  margin-top: 20px;
}

#checkbox input {
  display: none;
}

#radio input {
  display: none;
}

.labels {
  background-image: url('form-elements-sprite.png');
  background-repeat: no-repeat;
  background-size: 340px;
}

.checkbox-unchecked {
  background-position: -37px -56px;
  display: block;
  height: 38px;
  width: 38px;
}

.checkbox-checked {
  background-position: -89px -56px;
  display: block;
  height: 38px;
  width: 38px;
}

.radio-unchecked {
  background-position: -136px -56px;
  display: block;
  height: 42px;
  width: 42px;
}

.radio-checked {
  background-position: -190px -56px;
  display: block;
  height: 42px;
  width: 42px;
};